.about{padding:70px 0 50px;}
.about .pic{float:left;width:614px;position:relative;}
.about .pic::after{content:"";border:2px solid #7D7D7D;position:absolute;top:22px;left:22px;box-sizing:border-box;display:block;z-index:1;}
.about .pic img{position:relative;z-index:20;}
.about .txt{float:right;width:530px;margin:30px 0 0;}
.about .txt h3{font-size:36px;color:#000;font-weight:bold;margin-bottom:40px;}
.about .txt p{margin:0 0 20px;line-height:30px;font-size:18px;color:#000;}
.about .txt p em{color:#f00;}

.about2{padding:60px 0;}
.about2 .tit{text-align:center;margin-bottom:50px;}
.about2 .tit h3{font-size:30px;color:#000;font-weight:bold;display:inline-block;line-height:64px;border:1px solid #000;padding:0 42px;}
.about2 ul{margin:40px 0 0;text-align:center;font-size:0;}
.about2 ul li{display:inline-block;width:33.333333%;padding:50px 10px;box-sizing:border-box;vertical-align:top;}
.about2 ul li:nth-child(1),.about2 ul li:nth-child(2),.about2 ul li:nth-child(3){border-bottom:1px solid #7D7D7D;}
.about2 ul li em{font-size:18px;color:#000;margin:30px 0 0;display:block;}
.about2 ul li p{font-size:30px;font-weight:bold;color:#000;line-height:30px;margin:15px 0 0;}
.about2 ul li p span{color:#f00;}


.about3{background:url(../images/ibg2.jpg) no-repeat center top;height:588px;padding:90px 0 0;box-sizing:border-box;position:relative;text-align:center;color:#fff;}
.about3 h3{font-size:36px;font-weight:bold;}
.about3 hr{width:116px;height:16px;background:#fff;margin:28px auto 0;}
.about3 ul{margin:90px 0 0;text-align:center;font-size:0;}
.about3 ul li{display:inline-block;width:20%;padding:28px 10px;box-sizing:border-box;vertical-align:top;position:relative;}
.about3 ul li:not(:last-child)::after{content:"";width:1px;height:100%;background:rgba(255,255,255,0.5);display:inline-block;position:absolute;right:0;top:0;}
.about3 ul li em{font-size:14px;color:#fff;margin:30px 0 0;line-height:18px;display:block;}
.about3 ul li p{font-size:30px;font-weight:bold;color:#fff;line-height:30px;margin:20px 0 0;}
.about3 ul li p span{color:#00f6ff;}

.about4{padding:85px 0;text-align:center;}
.about4 h3{font-size:36px;font-weight:bold;color:#000;text-transform:uppercase;}
.about4 p{font-size:20px;color:#000;margin:30px 0 0;}
.about4 .pic{margin:100px 0 0;}