{include file="common/top" /}
  <div class="content_box"> 
   <div class="tem_banner_2 no_bg_src" module_center="left" id="v657fb6e7465ad" module_id="5054" bg_img_url="" module_type="module"> 
    <ul class="text top_text" modular-edit="custom"> 
     <li class="container"> 
      <div class="top_subtitle"> 
       <div class="align_con width_50 width_mobile_60"> 
        <section template-edit="subtitle_languages" module_name="module">
         They are all manufactured according to the strictest international standards. Our products have received favor from both domestic and foreign markets.
         <br> They are now widely exporting to 200 countries.
        </section> 
       </div> 
      </div> 
      <div class="top_title title"> 
       <div class="align_con width_50 width_mobile_60"> 
        <section template-edit="title_languages" module_name="module">
         Range Of Premium Products
        </section> 
       </div> 
      </div> 
      <div class="top_details describe"> 
       <div class="align_con width_50  width_mobile_60"> 
        <section template-edit="describe_languages" module_name="module">
         They are all manufactured according to the strictest international standards. Our products have received favor from both domestic and foreign markets.
         <br> They are now widely exporting to 200 countries.
        </section> 
       </div> 
      </div> 
      <div class="btn_box " btn_show="1"> 
       <div class="is_btn_box width_50"> 
        <div class="btn pc_btn" btn-types="deep"> 
         <section template-edit="btn_languages" module_name="module">
          LEARN MORE
         </section> 
        </div> 
        <div class="btn mobile_btn" btn-types="deep"> 
         <section template-edit="btn_languages" module_name="module">
          LEARN MORE
         </section> 
        </div> 
       </div> 
      </div> </li> 
    </ul> 
    <div class="iconfont iconios-arrow-back left_icon bg-color" btn_show="0"></div> 
    <div class="iconfont iconios-arrow-forward right_icon bg-color" btn_show="0"></div> 
    <div class="con swiper-container"> 
     <div class="swiper-pagination" btn_show="1" w_page_type=""></div> 
     <ul class="list_row_ul swiper-wrapper"> 
      {cms:blocklist id="block" name="banner" orderby="weigh" orderway="desc" }   
      <li class="swiper-slide" modular-edit="custom"> 
        <div class="list_box"> 
         <div class="list_con"> 
          <div data-banner="1" class="img_par no_img_src" img_type=""> 
           <img class="" video-img="{$block.image}" img_preview_gif="" alt=""> 
           <span editable="video" video-type="1" video-src="{if $block.title != 02}{$block.title}{/if}" video-m3u8src="" playback_mode=""></span> 
          </div> 
          <div class="text videos_js_icons" display_none> 
           <div class="container"> 
            <div display_none class="subtitle align_con"> 
             <div class=" width_50  width_mobile_60"> 
             </div> 
            </div> 
            <div display_none class="title  align_con" title_lengths=""> 
             <div class=" width_50  width_mobile_60"> 
             </div> 
            </div> 
            <div display_none class="describe  align_con "> 
             <div class=" width_50  width_mobile_60"> 
             </div> 
            </div> 
            <div class="btn_box" btn_show="1"> 
             <div class=" width_50"> 
              <div> 
               <div class="btn" btn-types="deep">
                 LEARN MORE 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> </li> 
    {/cms:blocklist}
     </ul> 
    </div> 
   </div> 
   <div class="public_lists_tem_1 no_bg_src content-section" module_center="center" id="v61af3c4295443" module_id="5015" bg_img_url="" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p><span style="color:#1aaec2;"><span style="font-size:16px;">Main products</span></span></p>
        <p><span style="color:#13234a;">Product Center</span></p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p><span style="color:#666;">Chemical Products includes the following: Hydrated Zinc Sulfate, Ferrous Sulfate, Copper Sulfate, Manganese Sulfate, Lead Nitrate, Copper Carbonate, Sodium Hydroxide, Sodium Metabisulfite, Graphite Electrode, Sodium Sulfide, Sodium Hydrosulfide.</span></p>
       </section> 
      </div> 
     </div> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color " btn_show="0"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color " btn_show="0"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="0"> 
        {cms:channellist id="channel" type="son" typeid="44" orderby="weigh" orderway="asc"}
        {cms:arclist id="prod" channel="channel['id']"  orderby="weigh" orderway="desc" row="20" addon="video"}
          <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="{$prod.title}" href="{$prod.url}" target="_blank" class="list_box"> 
            <div class="list_con" direction="4"> 
             <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
              <img class="" video-img="{$prod.image}" img_preview_gif="" alt="{$prod.title}"> 
              <span class="href_id_a"></span> 
              <span editable="video" video-type="" video-src="{$prod.video}" video-m3u8src="" playback_mode=""></span> 
              <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
             </div> 
             <div class="text"> 
              <div class="title" title_lengths="">
                {$prod.title} 
              </div> 
             </div> 
            </div> </a> </li> 
          {/cms:arclist}
        {/cms:channellist}

       <!-- <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="XSC Chemicals - High purity 25kg bag manganese sulfate monohydrate MnSO4 Manganese Sulphate Monohydrate" href="/products-detail-786133" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://imgbd.weyesimg.com/prod/moving/img/b280101b332bebbe577093981bd43491/07b8168b0ea59288bb68aab539ae88df.jpg" img_preview_gif="" alt="XSC Chemicals - High purity 25kg bag manganese sulfate monohydrate MnSO4 Manganese Sulphate Monohydrate"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="https://imgbd.weyesimg.com/prod/moving/img/b280101b332bebbe577093981bd43491/e4722ff462e5dfc8aad1b071cce7bc2c.mp4" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             XSC Chemicals - High purity 25kg bag manganese sulfate monohydrate MnSO4 Manganese Sulphate Monohydrate 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="XSC Chemicals - Manganese sulphate monohydrate 98% industrial grade powder Manganese Sulphate Monohydrate" href="/products-detail-786139" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://imgbd.weyesimg.com/prod/moving/img/b280101b332bebbe577093981bd43491/34d8dae978abd359d438fa8aefe3cee0.jpg" img_preview_gif="" alt="XSC Chemicals - Manganese sulphate monohydrate 98% industrial grade powder Manganese Sulphate Monohydrate"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="https://imgbd.weyesimg.com/prod/moving/img/b280101b332bebbe577093981bd43491/cea9be4287158a4b38f6de86355a8242.mp4" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             XSC Chemicals - Manganese sulphate monohydrate 98% industrial grade powder Manganese Sulphate Monohydrate 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="XSC Chemicals - Hot sale high quality china precipitated barium carbonate powder Barium carbonate" href="/products-detail-786140" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://imgbd.weyesimg.com/prod/moving/img/b280101b332bebbe577093981bd43491/8efaa799056b8b760b4888b79a1417ca.jpg" img_preview_gif="" alt="XSC Chemicals - Hot sale high quality china precipitated barium carbonate powder Barium carbonate"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             XSC Chemicals - Hot sale high quality china precipitated barium carbonate powder Barium carbonate 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="Sodium Persulfate | XSC" href="/products-detail-227184" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01640762614373.jpg" img_preview_gif="" alt="Sodium Persulfate | XSC"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="https://img001.aivideo8.com/tvHr5q-i9Yw/daa96d96-2496/video/2022-1/mp4/D5SM-5753-31ec-d49c-b4dc-9724.mp4" video-m3u8src="https://img001.aivideo8.com/tvHr5q-i9Yw/cfcd2084-1024/hls/2022-1/728REJWH-WH37-OH9X/d755fa-2eeb-fe7d-793640-c1aa-959c6f.m3u8" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Sodium Persulfate | XSC 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="Sodium Metabisulphite | XSC" href="/products-detail-227189" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01640762536001.jpg" img_preview_gif="" alt="Sodium Metabisulphite | XSC"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="https://img001.aivideo8.com/tvHr5q-i9Yw/daa96d96-2496/video/2022-1/mp4/OMSP-3738-0aef-ae89-3251-02cb.mp4" video-m3u8src="https://img001.aivideo8.com/tvHr5q-i9Yw/cfcd2084-1024/hls/2022-1/LQYWQO91-2P70-YW94/e2f446-5857-2345-705ad3-c675-dbad72.m3u8" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Sodium Metabisulphite | XSC 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="Lead Nitrate | XSC" href="/products-detail-227175" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01640762676789.jpg" img_preview_gif="" alt="Lead Nitrate | XSC"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="https://img001.aivideo8.com/tvHr5q-i9Yw/daa96d96-2496/video/2022-1/mp4/UIH5-6358-29dd-04a5-e95e-4f42.mp4" video-m3u8src="https://img001.aivideo8.com/tvHr5q-i9Yw/cfcd2084-1024/hls/2022-1/W1N1JM78-VUXQ-XXCO/a14da3-ba9a-6b1d-60d4f8-74ba-480fd9.m3u8" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Lead Nitrate | XSC 
           </div> 
          </div> 
         </div> </a> </li>  -->
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="tem_picture_1 no_bg_src content-section" id="v61af3c91ea53c" module_id="5004" bg_img_url="https://img001.video2b.com/1186/file_01638934631850.png" module_type="module"> 
    <div class="container"> 
     <div class="picture_con"> 
      <ul class="picture_ul" direction="2" direction-phone="4"> 
       <li class="picture_li"> 
        <div class="sticky_box" modular-edit="custom"> 
         <div class="img_par no_img_src" img_type=""> 
          <img video-img="https://img001.video2b.com/1186/file_01638949889385.png" alt="customized&nbsp;hydrated zinc sulfate and lead nitrate"> 
          <span display_none video-type="" video-src="https://img001.video2b.com/m3u8/file_01639982344230.m3u8" video-m3u8src="" playback_mode=""></span> 
          <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
         </div> 
        </div> </li> 
       <li class="picture_li"> 
        <div class="sticky_box"> 
         <div class="top_title "> 
          <section template-edit="title_languages" module_name="module">
           <p><span style="color:#1aaec2;"><span style="font-size:16px;">What we offer</span></span></p>
           <p><span style="color:#13234a;">Customized Service</span></p>
          </section> 
         </div> 
         <div class="top_describe  "> 
          <section template-edit="describe_languages" module_name="module">
           <p><span style="color:#666;"></span><br></p>
           <p><span style="color:#666;">We have Export License. We have a professional team with exporting experience and considerable service. The company also can accept OEM order. We have the strict quality control system. Test every batch of product before we hand over to customers and keep shipment samples of each batch for customers recheck. The third party inspection such as SGS is available.</span></p>
           <p><br></p>
           <p><span style="color:#666;">In today’s chemicals market, it’s critical to have a reliable source of fairly priced, high-quality product. It’s also important to have a partner who is there when you need for your growing business.</span></p>
           <p><br></p>
           <p><span style="color:#808080;">We accept customized chemical services in the global customers, for example&nbsp;hydrated zinc sulfate and lead nitrate,&nbsp;and other chemical products. We will do our best to meet customer needs.</span><br><span style="color:#808080;"></span><br></p>
           <p><span style="color:#666;">With Hunan Sincere Chemicals manufacturer, you can have both</span></p>
          </section> 
         </div> 
         <div class="top_subtitle  "> 
          <section template-edit="subtitle_languages" module_name="module"></section> 
         </div> 
         <div class="btn_box  " btn_show="1"> 
          <a href="/service" target="_self"> 
           <div class="btn" btn-types="deep"> 
            <section template-edit="btn_languages" module_name="module">
             <p>CUSTOMIZED NOW</p>
            </section> 
           </div> </a> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="tem_title_1 no_bg_src" module_center="center" id="v61af3cc6032fc" module_id="5017" bg_img_url="https://img001.video2b.com/1186/file_01638952794386.jpg" module_type="module"> 
    <div class="container"> 
     <div direction="3"> 
      <div class="text top_text"> 
       <div class="sticky_box"> 
        <div class="top_title "> 
         <section template-edit="title_languages" module_name="module">
          <p><span></span><span style="color:#1aaec2;"><span style="font-size:16px;">Why choose usS</span></span><br data-cke-eol="1">the best choice for you<span></span></p>
         </section> 
        </div> 
        <div class="top_details "> 
         <section template-edit="describe_languages" module_name="module">
          <p>Our company has adhered to a strong market orientation, taken quality as a foundation, and followed the quality policy of continuous improvement and raising customer satisfaction.</p>
         </section> 
        </div> 
       </div> 
      </div> 
      <div> 
       <div class="btn_box sticky_box " btn_show="0"> 
        <div> 
         <div class="btn " btn-types="deep"> 
          <section template-edit="btn_languages" module_name="module">
           READ MORE
          </section> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <div class="public_lists_tem_2 no_bg_src content-section" module_center="center" id="v61af3cc9efd2d" module_id="5016" bg_img_url="https://img001.video2b.com/1186/file_01638952806508.jpg" module_type="module"> 
    <div class="container"> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color" btn_show="1"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color" btn_show="1"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="0"> 
       <li class="list_row_li swiper-slide" modular-edit="custom" list_cols="3" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="1"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01638951630914.png" img_preview_gif="" alt="Flexible Payment"> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Flexible Payment 
           </div> 
           <div class="describe" title_lengths="">
             We offers settlement service such as US dollars, Euro, and RMB, to minimize the risk of the exchange rate for dollars. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide" modular-edit="custom" list_cols="3" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="1"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01638951640682.png" img_preview_gif="" alt="Customized Packing Available"> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Customized Packing Available 
           </div> 
           <div class="describe" title_lengths="">
             We provide packaging service for the different product with various materials and standard to meet our customers' demand. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide" modular-edit="custom" list_cols="3" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="1"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01638951646478.png" img_preview_gif="" alt="Special Inspection"> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Special Inspection 
           </div> 
           <div class="describe" title_lengths="">
             Special inspection is provided according to the request of customers from certain countries. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide" modular-edit="custom" list_cols="3" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="1"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01638951653632.png" img_preview_gif="" alt="Professional Logistician"> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Professional Logistician 
           </div> 
           <div class="describe" title_lengths="">
             We provide an appropriate logistic scheme for the clients and ship the goods on time according to the order. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide" modular-edit="custom" list_cols="3" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="1"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_11638951653632.png" img_preview_gif="" alt="Rich industy experiences"> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Rich industy experiences 
           </div> 
           <div class="describe" title_lengths="">
             We have own Export License with experienced marketing and service them. We are available for OEM business model as well. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide" modular-edit="custom" list_cols="3" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="1"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_21638951653632.png" img_preview_gif="" alt="Quality Control"> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Quality Control 
           </div> 
           <div class="describe" title_lengths="">
             We have the strict quality control system.Test every batch of product before we hand over to customers and keep shipment samples of each batch for customers recheck. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="tem_picture_1 no_bg_src content-section" id="v61b0744b8f4d3" module_id="5004" bg_img_url="" module_type="module"> 
    <div class="container"> 
     <div class="picture_con"> 
      <ul class="picture_ul" direction="1" direction-phone="4"> 
       <li class="picture_li"> 
        <div class="sticky_box" modular-edit="custom"> 
         <div class="img_par no_img_src" img_type=""> 
          <img video-img="https://img001.video2b.com/1186/file_01638955928520.png" alt="Hunan Sincere Chemicals manufacturer"> 
          <span display_none video-type="" video-src="https://img001.video2b.com/m3u8/file_01639982963580.m3u8" video-m3u8src="" playback_mode=""></span> 
          <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
         </div> 
        </div> </li> 
       <li class="picture_li"> 
        <div class="sticky_box"> 
         <div class="top_title "> 
          <section template-edit="title_languages" module_name="module">
           <p><span style="color:#1aaec2;"><span style="font-size:16px;">since 2005</span></span></p>
           <p><span style="color:#13234a;">About us</span></p>
          </section> 
         </div> 
         <div class="top_describe  "> 
          <section template-edit="describe_languages" module_name="module">
           <p><span style="color:#808080;">The Hunan Sincere Chemicals Co., LTD was recombined in 2014. Since 2005, we have established stable business relationships with clients from more than 60 different countries and regions. We had passed ISO 9001:2015 international quality management system certification.</span></p>
           <p><span style="color:#808080;"><br></span></p>
           <p><span style="color:#808080;">The company is a member of Sincere Chemicals (HK) Co., LTD., Our Corporation has built 4 manufacturing plants including Sulfate Product, Hydrated Zinc Sulfate, Lead Nitrate, Sodium Metabisulfite and Sodium Persulphate , which are located in Hunan Province. Our business office is located in Changsha, the capital of Hunan Province.</span></p>
           <p><span style="color:#808080;"><br></span></p>
           <p><span style="color:#808080;">We have Export License. We have a professional team with exporting experience and considerable service. The company also can accept OEM order.&nbsp;Hunan Sincere Chemicals manufacturer provides us dollar, euro, RMB and other settlement services to minimize the risk of US dollar exchange rate. Secondly, according to customer demand and payment ability, we will try our best to provide satisfactory payment and settlement methods.</span></p>
          </section> 
         </div> 
         <div class="top_subtitle  "> 
          <section template-edit="subtitle_languages" module_name="module"></section> 
         </div> 
         <div class="btn_box  " btn_show="1"> 
          <a href="/pages-27440" target="_self"> 
           <div class="btn" btn-types="deep"> 
            <section template-edit="btn_languages" module_name="module">
             READ MORE
            </section> 
           </div> </a> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="public_lists_tem_1 no_bg_src content-section" module_center="center" id="v61af3d0145059" module_id="5015" bg_img_url="https://img001.video2b.com/1186/file_01638951950845.png" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p>​​​​​​​<span style="color:#FFFFFF;">Application case</span></p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p><font color="#ffffff">XSC Chemicals&nbsp;manufacturer&nbsp;and supplier provides our chemical products cases in different scenes</font></p>
       </section> 
      </div> 
     </div> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color " btn_show="0"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color " btn_show="0"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="0"> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="4" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01642558446145.jpg" img_preview_gif="" alt="Manganese Sulphate Monohydrate Cooperation Case | XSC"> 
           <span editable="video" video-type="" video-src="https://img001.aivideo8.com/tvHr5q-i9Yw/cfcd2084-1024/hls/2022-1/3T62AA62-YQQR-I7OR/862449-62e8-0fc2-3a6f2f-d3f5-bfce54.m3u8" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Manganese Sulphate Monohydrate Cooperation Case | XSC 
           </div> 
           <div class="describe" title_lengths="">
             Manganese Sulphate Monohydrate Applications It is used as base fertilizer, seed soaking, dress seeds, topdressing and foliar spray. In animal husbandry and feed industry, it is used as a feed additive to make livestock and poultry develop well. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="4" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01642558459402.jpg" img_preview_gif="" alt="Russian Customer Customization Zinc Sulphate Heptahydrate"> 
           <span editable="video" video-type="" video-src="https://img001.aivideo8.com/tvHr5q-i9Yw/cfcd2084-1024/hls/2022-1/AR4B8W8M-WFH4-MAGS/639d7a-d551-14c1-37c6c3-8dd2-74111f.m3u8" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Russian Customer Customization Zinc Sulphate Heptahydrate 
           </div> 
           <div class="describe" title_lengths="">
             Fertilizer,Feed additives,Mineral and Chemical industry. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="4" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01642560202452.jpg" img_preview_gif="" alt="Customer product customization case | XSC"> 
           <span editable="video" video-type="" video-src="https://img001.aivideo8.com/tvHr5q-i9Yw/cfcd2084-1024/hls/2022-1/FCI131DD-DCX5-H8WV/3f30b9-b982-2085-2b1c30-45db-e40292.m3u8" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Customer product customization case | XSC 
           </div> 
           <div class="describe" title_lengths="">
             The Hunan Sincere Chemicals Co., LTD was recombined in 2014. Since 2005, we have established stable business relationships with clients from more than 60 different countries and regions. We had passed ISO 90012015 international quality management system certification. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="4" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01642560402037.jpg" img_preview_gif="" alt="Customer product customization case | XSC"> 
           <span editable="video" video-type="" video-src="https://img001.aivideo8.com/tvHr5q-i9Yw/cfcd2084-1024/hls/2022-1/HM6MTJ8U-I5TH-E7NY/fc10ec-50c1-8edb-f01556-9e47-99cc25.m3u8" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Customer product customization case | XSC 
           </div> 
           <div class="describe" title_lengths="">
             We will provide information and photos of the whole process from production to logistics, so that customers can grasp the cargo information and transportation status in real time. At the same time, according to the difference of goods ordered by customers. 
           </div> 
          </div> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="public_lists_tem_1 no_bg_src content-section" module_center="center" id="v61aed7e4d2e8e" module_id="5015" bg_img_url="https://img001.video2b.com/1186/file_01638934631850.png" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p><span style="color:#1aaec2;"><span style="font-size:16px;">NEWS center</span></span></p>
        <p><span style="color:#13234a;">LATEST news</span></p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p>In this module you can understand the latest news from XSC chemicals manufacturer&nbsp;and chemical industries. Welcome to read</p>
       </section> 
      </div> 
     </div> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color " btn_show="1"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color " btn_show="1"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="1"> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="Loading of 2,000 tons of sodium metabisulfite at Chenglingji Terminal in Yueyang" href="/products-detail-4591160" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type=""> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01705287118727.png" img_preview_gif="" alt="Loading of 2,000 tons of sodium metabisulfite at Chenglingji Terminal in Yueyang"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="https://img001.video2b.com/hls/1186/file_01705287171462.mp4" video-m3u8src="https://img001.video2b.com/m3u8/file_01705287171462.m3u8" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Loading of 2,000 tons of sodium metabisulfite at Chenglingji Terminal in Yueyang 
           </div> 
           <div class="describe" title_lengths="">
             On January 15, 2024, our company successfully completed the loading of 2,000 tons of sodium metabisulfite at Chenglingji Terminal in Yueyang. The shipment is bound for a country in Africa, marking another milestone in our commitment to meeting the global demand for high-quality chemical products. 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="Lead-zinc mine, how to choose?" href="/products-detail-4549232" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type=""> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01704681967518.jpg" img_preview_gif="" alt="Lead-zinc mine, how to choose?"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Lead-zinc mine, how to choose? 
           </div> 
           <div class="describe" title_lengths="">
             &nbsp;Among many mineral types, lead-zinc ore is a relatively difficult ore to select. Generally speaking, lead-zinc ore has more poor ores than rich ores and the associated components are more complex. Therefore, how to efficiently separate lead and zinc ores is also an important issue in the mineral processing industry. At present, the lead and zinc minerals available for industrial utilization are mainly galena and sphalerite, and also include smithsonite, cerussite, etc. According to the degree of oxidation, lead-zinc minerals can be divided into lead-zinc sulfide ore, lead-zinc oxide ore, Below we will specifically analyze the separation process of lead-zinc ore based on the oxidation degree of lead-zinc ore. 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="A brief analysis of the role of copper sulfate in ore beneficiation and flotation" href="/products-detail-4512351" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type=""> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01704161016652.jpg" img_preview_gif="" alt="A brief analysis of the role of copper sulfate in ore beneficiation and flotation"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             A brief analysis of the role of copper sulfate in ore beneficiation and flotation 
           </div> 
           <div class="describe" title_lengths="">
             Copper sulfate, which appears as blue or blue-green crystals, is a widely used activator in sulfide ore flotation. It is mainly used as an activator, regulator and inhibitor to adjust the pH value of the slurry, control foam generation and improve The surface potential of minerals has an activation effect on sphalerite, stibnite, pyrite and pyrrhotite, especially sphalerite that is inhibited by lime or cyanide. 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="After the use of mineral processing activator" href="/products-detail-4463912" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type=""> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01703471762631.jpg" img_preview_gif="" alt="After the use of mineral processing activator"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             After the use of mineral processing activator 
           </div> 
           <div class="describe" title_lengths="">
             &nbsp;After the use of mineral processing activator: In the flotation process, the effect of increasing the flotability of minerals is called activation. The agent used to change the composition of the mineral surface and promote the interaction between the collector and the mineral surface is called activator. 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="Flotation reagents in lead-zinc ore flotation process" href="/products-detail-4421824" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type=""> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01702866367165.png" img_preview_gif="" alt="Flotation reagents in lead-zinc ore flotation process"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             Flotation reagents in lead-zinc ore flotation process 
           </div> 
           <div class="describe" title_lengths="">
             The application of lead-zinc ore must be beneficiated before it can be better utilized. The commonly used beneficiation method is flotation. Since it is flotation, flotation chemicals are naturally inseparable.&nbsp; 
           </div> 
          </div> 
         </div> </a> </li> 
       <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="What are the general specifications of zinc sulfate for mineral processing and its working principle?" href="/products-detail-4398778" target="_blank" class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type=""> 
           <img class="" video-img="https://img001.video2b.com/1186/file_01702533124603.png" img_preview_gif="" alt="What are the general specifications of zinc sulfate for mineral processing and its working principle?"> 
           <span class="href_id_a"></span> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             What are the general specifications of zinc sulfate for mineral processing and its working principle? 
           </div> 
           <div class="describe" title_lengths="">
             The main role of zinc sulfate in mineral processing is to select zinc ores and resist zinc-containing minerals. Usually, it has better resistance in alkaline slurry.&nbsp; 
           </div> 
          </div> 
         </div> </a> </li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="public_inquiry_tem_1 no_bg_src content-section" module_center="center" id="v61aed7e4d2e97" module_id="5014" bg_img_url="https://img001.video2b.com/1186/file_01638934631850.png" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p><span style="color:#1aaec2;"><span style="font-size:16px;">Contact us</span></span></p>
        <p>feel free to contact us</p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p><span style="color:#666;">The first thing we do is meeting with our clients and talk through their goals on a future project. </span><br></p>
        <p><span style="color:#666;">During this meeting, feel free to communicate your ideas and ask lots of questions.</span></p>
       </section> 
      </div> 
     </div> 
     <div class="con enquiry_box"> 
      <form no_form_enovation action="/add-enquiry" class="row_small_box" onsubmit="return form_submit(this);"> 
       <input type="hidden" name="enquiry_type" id="enquiry_type_v61aed7e4d2e97" value="0"> 
       <input type="hidden" name="visitlength" id="visitlength_v61aed7e4d2e97" value="====1705329374===="> 
       <input type="hidden" name="source" id="source_v61aed7e4d2e97" value="0"> 
       <input type="hidden" name="id" id="id_v61aed7e4d2e97" value="0"> 
       <ul class="row_small"> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow"> <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" required name="name" id="name_v61aed7e4d2e97" title placeholder="Enter your name" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"> <span class="required_span">Name</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow"> <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" required name="email" id="email_v61aed7e4d2e97" title placeholder="Enter your e-mail" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"> <span class="required_span">E-mail</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow"> <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" name="phone" id="phone_v61aed7e4d2e97" oninput="this.value=this.value.replace(/[^\d]/,'');setCustomValidity('')" title placeholder="Enter your phone" oninvalid="setCustomValidity('Please fill in this field')"> <span class="required_span">Phone/WhatsApp/Skype</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow"> <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" name="company" id="company_v61aed7e4d2e97" title placeholder="Enter your company name" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"> <span class="required_span">Company Name</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class="li-fill" style="width:100%;"> <label class="enquiry_label form_inp " inp-types="shallow"> <textarea class="enquiry_inp enquiry_inp_placeholder" rows="4" autocorrect="off" autocomplete="off" required name="msg" id="msg_v61aed7e4d2e97" title placeholder="Enter the content of your inquiry" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"></textarea> <span class="required_span">Content</span> <p class="required_tips">Format error</p> </label> </li> 
       </ul> 
       <div class="enquiry_btn_box btn_box "> 
        <button id="submit_v61aed7e4d2e97" type="submit" class="btn" btn-types="deep"> 
         <div template-edit="btn_languages" module_name="module">
          SEND INQUIRY NOW
         </div> </button> 
       </div> 
      </form> 
     </div> 
    </div> 
   </div> 
  </div> 
  {include file="common/foot" /}