{include file="common/top" /}
  <div class="content_box"> 
   <div class="tem_banner_2 no_bg_src" module_center="left" id="v657fb6e7465ad" module_id="5054" bg_img_url="" module_type="module"> 
    <ul class="text top_text" modular-edit="custom"> 
     <li class="container"> 
      <div class="top_subtitle"> 
       <div class="align_con width_50 width_mobile_60"> 
        <section template-edit="subtitle_languages" module_name="module">
         They are all manufactured according to the strictest international standards. Our products have received favor from both domestic and foreign markets.
         <br> They are now widely exporting to 200 countries.
        </section> 
       </div> 
      </div> 
      <div class="top_title title"> 
       <div class="align_con width_50 width_mobile_60"> 
        <section template-edit="title_languages" module_name="module">
         Range Of Premium Products
        </section> 
       </div> 
      </div> 
      <div class="top_details describe"> 
       <div class="align_con width_50  width_mobile_60"> 
        <section template-edit="describe_languages" module_name="module">
         They are all manufactured according to the strictest international standards. Our products have received favor from both domestic and foreign markets.
         <br> They are now widely exporting to 200 countries.
        </section> 
       </div> 
      </div> 
      <div class="btn_box " btn_show="1"> 
       <div class="is_btn_box width_50"> 
        <div class="btn pc_btn" btn-types="deep"> 
         <section template-edit="btn_languages" module_name="module">
          LEARN MORE
         </section> 
        </div> 
        <div class="btn mobile_btn" btn-types="deep"> 
         <section template-edit="btn_languages" module_name="module">
          LEARN MORE
         </section> 
        </div> 
       </div> 
      </div> </li> 
    </ul> 
    <div class="iconfont iconios-arrow-back left_icon bg-color" btn_show="0"></div> 
    <div class="iconfont iconios-arrow-forward right_icon bg-color" btn_show="0"></div> 
    <div class="con swiper-container"> 
     <div class="swiper-pagination" btn_show="1" w_page_type=""></div> 
     <ul class="list_row_ul swiper-wrapper"> 
      {cms:blocklist id="block" name="banner" orderby="weigh" orderway="desc" }   
      <li class="swiper-slide" modular-edit="custom"> 
        <div class="list_box"> 
         <div class="list_con"> 
          <div data-banner="1" class="img_par no_img_src" img_type=""> 
           <img class="" video-img="{$block.image}" img_preview_gif="" alt=""> 
           <span editable="video" video-type="1" video-src="{if $block.title != 02}{$block.title}{/if}" video-m3u8src="" playback_mode=""></span> 
          </div> 
          <div class="text videos_js_icons" display_none> 
           <div class="container"> 
            <div display_none class="subtitle align_con"> 
             <div class=" width_50  width_mobile_60"> 
             </div> 
            </div> 
            <div display_none class="title  align_con" title_lengths=""> 
             <div class=" width_50  width_mobile_60"> 
             </div> 
            </div> 
            <div display_none class="describe  align_con "> 
             <div class=" width_50  width_mobile_60"> 
             </div> 
            </div> 
            <div class="btn_box" btn_show="1"> 
             <div class=" width_50"> 
              <div> 
               <div class="btn" btn-types="deep">
                 LEARN MORE 
               </div> 
              </div> 
             </div> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> </li> 
    {/cms:blocklist}
     </ul> 
    </div> 
   </div> 
   <div class="public_lists_tem_1 no_bg_src content-section" module_center="center" id="v61af3c4295443" module_id="5015" bg_img_url="" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p><span style="color:#1aaec2;"><span style="font-size:16px;">Main products</span></span></p>
        <p><span style="color:#13234a;">Product Center</span></p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p><span style="color:#666;">Chemical Products includes the following: Zinc Sulfate, Lead Nitrate, Ferrous Sulfate, Copper Sulfate, Manganese Sulfate, Sodium Hydroxide, Sodium Metabisulfite, Sodium Sulfide, Sodium Hydrosulfide.</span></p>
       </section> 
      </div> 
     </div> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color " btn_show="0"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color " btn_show="0"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="0"> 
        {cms:channellist id="channel" type="son" typeid="44" orderby="weigh" orderway="asc"}
        {cms:arclist id="prod" channel="channel['id']"  orderby="weigh" orderway="desc" row="6" addon="video" flag="index"}
          <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="{$prod.title}" href="{$prod.url}" target="_blank" class="list_box"> 
            <div class="list_con" direction="4"> 
             <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
              <img class="" video-img="{$prod.image}" img_preview_gif="" alt="{$prod.title}"> 
              <span class="href_id_a"></span> 
              <span editable="video" video-type="" video-src="{$prod.video}" video-m3u8src="" playback_mode=""></span> 
              <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
             </div> 
             <div class="text"> 
              <div class="title" title_lengths="">
                {$prod.title} 
              </div> 
             </div> 
            </div> </a> </li> 
          {/cms:arclist}
        {/cms:channellist}
      </ul> 
     </div> 
    </div> 
   </div> 
   <!-- <div class="tem_picture_1 no_bg_src content-section" id="v61af3c91ea53c" module_id="5004" bg_img_url="https://img001.video2b.com/1186/file_01638934631850.png" module_type="module"> 
    <div class="container"> 
     <div class="picture_con"> 
      <ul class="picture_ul" direction="2" direction-phone="4"> 
       <li class="picture_li"> 
        <div class="sticky_box" modular-edit="custom"> 
         <div class="img_par no_img_src" img_type=""> 
          <img video-img="https://img001.video2b.com/1186/file_01638949889385.png" alt="customized&nbsp;hydrated zinc sulfate and lead nitrate"> 
          <span display_none video-type="" video-src="https://img001.video2b.com/m3u8/file_01639982344230.m3u8" video-m3u8src="" playback_mode=""></span> 
          <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
         </div> 
        </div> </li> 
       <li class="picture_li"> 
        <div class="sticky_box"> 
         <div class="top_title "> 
          <section template-edit="title_languages" module_name="module">
           <p><span style="color:#1aaec2;"><span style="font-size:16px;">What we offer</span></span></p>
           <p><span style="color:#13234a;">Customized Service</span></p>
          </section> 
         </div> 
         <div class="top_describe  "> 
          <section template-edit="describe_languages" module_name="module">
           <p><span style="color:#666;"></span><br></p>
           <p><span style="color:#666;">We have Export License. We have a professional team with exporting experience and considerable service. The company also can accept OEM order. We have the strict quality control system. Test every batch of product before we hand over to customers and keep shipment samples of each batch for customers recheck. The third party inspection such as SGS is available.</span></p>
           <p><br></p>
           <p><span style="color:#666;">In today’s chemicals market, it’s critical to have a reliable source of fairly priced, high-quality product. It’s also important to have a partner who is there when you need for your growing business.</span></p>
           <p><br></p>
           <p><span style="color:#808080;">We accept customized chemical services in the global customers, for example&nbsp;hydrated zinc sulfate and lead nitrate,&nbsp;and other chemical products. We will do our best to meet customer needs.</span><br><span style="color:#808080;"></span><br></p>
           <p><span style="color:#666;">With Hunan Sincere Chemicals manufacturer, you can have both</span></p>
          </section> 
         </div> 
         <div class="top_subtitle  "> 
          <section template-edit="subtitle_languages" module_name="module"></section> 
         </div> 
         <div class="btn_box  " btn_show="1"> 
          <a href="/service" target="_self"> 
           <div class="btn" btn-types="deep"> 
            <section template-edit="btn_languages" module_name="module">
             <p>CUSTOMIZED NOW</p>
            </section> 
           </div> </a> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </div> 
   </div>  -->

   {cms:blocklist id="block" name="hlight" orderby="weigh" orderway="desc"} 
   <div class="tem_title_1 no_bg_src" module_center="center" id="v61af3cc6032fc" module_id="5017" bg_img_url="{$block.image}" module_type="module"> 
    <div class="container"> 
     <div direction="3"> 
      <div class="text top_text"> 
       <div class="sticky_box"> 
        <div class="top_title "> 
         <section template-edit="title_languages" module_name="module">
          <p><span></span><span style="color:#1aaec2;"><span style="font-size:16px;">WHY CHOOSE USS</span></span><br data-cke-eol="1">{$block.title}<span></span></p>
         </section> 
        </div> 
        <div class="top_details "> 
         <section template-edit="describe_languages" module_name="module">
             {$block.content}
         </section> 
        </div> 
       </div> 
      </div> 
      <div> 
       <div class="btn_box sticky_box " btn_show="0"> 
        <div> 
         <div class="btn " btn-types="deep"> 
          <section template-edit="btn_languages" module_name="module">
           READ MORE
          </section> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div>
   {/cms:blocklist}
   <div class="public_lists_tem_2 no_bg_src content-section" module_center="center" id="v61af3cc9efd2d" module_id="5016" bg_img_url="https://img001.video2b.com/1186/file_01638952806508.jpg" module_type="module"> 
    <div class="container"> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color" btn_show="1"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color" btn_show="1"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="0"> 
       {cms:blocklist id="block" name="hlight" orderby="weigh" orderway="desc"}
       {notempty name="$block.images"}
       {volist name="$block.images|explode=',',###" id="image"}
       <li class="list_row_li swiper-slide" modular-edit="custom" list_cols="3" mobile_list_cols=""> 
        <div class="list_box"> 
         <div class="list_con" direction="4"> 
          <div class="img_par no_img_src" img_text_align="2" img_type="1"> 
           <img class="" video-img="{$image}" img_preview_gif="" alt="{$block.intro[$key]['info']}"> 
           <span editable="video" video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
           <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
          </div> 
          <div class="text"> 
           <div class="title" title_lengths="">
             {$block.intro[$key]['info']}
           </div> 
           <div class="describe" title_lengths="">
             {$block.intro[$key]['txt']}
           </div> 
          </div> 
         </div> 
        </div> </li> 
        {/volist}
        {/notempty}
   {/cms:blocklist}
      </ul> 
     </div> 
    </div> 
   </div> 
    
   {cms:blocklist id="block" name="about" orderby="weigh" orderway="desc" } 
   <div class="tem_picture_1 no_bg_src content-section" id="v61b0744b8f4d3" module_id="5004" bg_img_url="" module_type="module"> 
    <div class="container"> 
     <div class="picture_con"> 
      <ul class="picture_ul" direction="1" direction-phone="4"> 
       <li class="picture_li"> 
        <div class="sticky_box" modular-edit="custom"> 
         <div class="img_par no_img_src" img_type=""> 
          <img video-img="{$block.image}" alt="{$block.title}"> 
          <span display_none video-type="" video-src="{$block.url}" video-m3u8src="" playback_mode=""></span> 
          <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
         </div> 
        </div> </li> 
       <li class="picture_li"> 
        <div class="sticky_box"> 
         <div class="top_title "> 
          <section template-edit="title_languages" module_name="module">
           <p><span style="color:#1aaec2;"><span style="font-size:16px;">since 2005</span></span></p>
           <p><span style="color:#13234a;">{$block.title}</span></p>
          </section> 
         </div> 
         <div class="top_describe  "> 
           {$block.content}
         </div> 
         <div class="top_subtitle  "> 
          <section template-edit="subtitle_languages" module_name="module"></section> 
         </div> 
         <div class="btn_box  " btn_show="1"> 
          <a href="/about.html" target="_self"> 
           <div class="btn" btn-types="deep"> 
            <section template-edit="btn_languages" module_name="module">
             READ MORE
            </section> 
           </div> </a> 
         </div> 
        </div> </li> 
      </ul> 
     </div> 
    </div> 
   </div>
   {/cms:blocklist}
   <div class="public_lists_tem_1 no_bg_src content-section" module_center="center" id="v61af3d0145059" module_id="5015" bg_img_url="https://img001.video2b.com/1186/file_01638951950845.png" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p>​​​​​​​<span style="color:#FFFFFF;">Application case</span></p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p><font color="#ffffff">XSC Chemicals’ products cases in different scenes</font></p>
       </section> 
      </div> 
     </div> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color " btn_show="0"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color " btn_show="0"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="0"> 
        {cms:arclist id="case" channel="70"  orderby="weigh" orderway="desc" row="4" addon="content,video"}
            <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="4" mobile_list_cols=""> 
              <div class="list_box"> 
               <div class="list_con" direction="4"> 
                <div class="img_par no_img_src" img_text_align="2" img_type="2"> 
                 <img class="" video-img="{$case.image}" img_preview_gif="" alt="{$case.title}"> 
                 <span editable="video" video-type="" video-src="{$case.video}" video-m3u8src="" playback_mode=""></span> 
                 <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
                </div> 
                <div class="text"> 
                 <div class="title" title_lengths="">
                    {$case.title}
                 </div> 
                 <div class="describe" title_lengths="">
                   <p>{$case.description}</p> 
                 </div> 
                </div> 
               </div> 
              </div> </li> 
          {/cms:arclist}
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="public_lists_tem_1 no_bg_src content-section" module_center="center" id="v61aed7e4d2e8e" module_id="5015" bg_img_url="https://img001.video2b.com/1186/file_01638934631850.png" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p><span style="color:#1aaec2;"><span style="font-size:16px;">NEWS center</span></span></p>
        <p><span style="color:#13234a;">LATEST news</span></p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p>In this module you can understand the latest news from XSC chemicals manufacturer&nbsp;and chemical industries. Welcome to read</p>
       </section> 
      </div> 
     </div> 
     <div class="con swiper-container"> 
      <div class="iconfont iconios-arrow-back left_icon bg-color " btn_show="1"></div> 
      <div class="iconfont iconios-arrow-forward right_icon bg-color " btn_show="1"></div> 
      <div class="swiper-pagination" btn_show="1"></div> 
      <ul class="list_row_ul swiper-wrapper" swiper_switch="1"> 
         {cms:arclist id="new" channel="66"  orderby="weigh" orderway="desc" row="4" addon="content,video"}
              <li class="list_row_li swiper-slide " modular-edit="custom" list_cols="3" mobile_list_cols=""> <a title="{$new.title}" href="{$new.url}" target="_blank" class="list_box"> 
                <div class="list_con" direction="4"> 
                 <div class="img_par no_img_src" img_text_align="2" img_type=""> 
                  <img style="height: 455px;" class="" video-img="{$new.image}" img_preview_gif="" alt="{$new.title}"> 
                  <span class="href_id_a"></span> 
                  <span editable="video" video-type="" video-src="{$new.video}" video-m3u8src="" playback_mode=""></span> 
                  <span class="there_video_icons videos_js_icons" style="display:none;"><i class="iconfont iconbofang"></i></span> 
                 </div> 
                 <div class="text"> 
                  <div class="title" title_lengths="">
                    {$new.title} 
                  </div> 
                  <div class="describe" title_lengths="">
                    {$new.description} 
                  </div> 
                 </div> 
                </div> </a> </li>
          {/cms:arclist}
      </ul> 
     </div> 
    </div> 
   </div> 
   <div class="public_inquiry_tem_1 no_bg_src content-section" module_center="center" id="v61aed7e4d2e97" module_id="5014" bg_img_url="https://img001.video2b.com/1186/file_01638934631850.png" module_type="module"> 
    <div class="container"> 
     <div class="text top_text" modular-edit="custom"> 
      <div class="top_title "> 
       <section template-edit="title_languages" module_name="module">
        <p><span style="color:#1aaec2;"><span style="font-size:16px;">Contact us</span></span></p>
        <p>feel free to contact us</p>
       </section> 
      </div> 
      <div class="top_details "> 
       <section template-edit="describe_languages" module_name="module">
        <p><span style="color:#666;">The first thing we do is meeting with our clients and talk through their goals on a future project. </span><br></p>
        <p><span style="color:#666;">During this meeting, feel free to communicate your ideas and ask lots of questions.</span></p>
       </section> 
      </div> 
     </div> 
     <div class="con enquiry_box"> 
      <form class="row_small_box" onsubmit="return $('.formPoint').show();" method="POST" action="/d/customer/post.html"> 
        <input type="hidden" name="__diyname__" value="customer">
        {:token()}
       <ul class="row_small"> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow"> 
          <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" required name="row[name]" id="name_v61aed7e4d2e97" title placeholder="Enter your name" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"> 
          <span class="required_span">Name</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow">
          <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" required name="row[email]" id="email_v61aed7e4d2e97" title placeholder="Enter your e-mail" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"> 
          <span class="required_span">E-mail</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow"> 
          <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" name="row[telephone]" id="phone_v61aed7e4d2e97" oninput="this.value=this.value.replace(/[^\d]/,'');setCustomValidity('')" title placeholder="Enter your phone" oninvalid="setCustomValidity('Please fill in this field')"> 
          <span class="required_span">Phone/WhatsApp/Skype</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class=""> <label class="enquiry_label form_inp " inp-types="shallow"> 
          <input type="text" class="enquiry_inp enquiry_inp_placeholder" autocorrect="off" autocomplete="off" name="row[company]" id="company_v61aed7e4d2e97" title placeholder="Enter your company name" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"> 
          <span class="required_span">Company Name</span> <p class="required_tips">Format error</p> </label> </li> 
        <li class="li-fill" style="width:100%;"> <label class="enquiry_label form_inp " inp-types="shallow"> 
          <textarea class="enquiry_inp enquiry_inp_placeholder" rows="4" autocorrect="off" autocomplete="off" required name="row[content]" id="msg_v61aed7e4d2e97" title placeholder="Enter the content of your inquiry" oninvalid="setCustomValidity('Please fill in this field')" oninput="setCustomValidity('')"></textarea> 
          <span class="required_span">Content</span> <p class="required_tips">Format error</p> </label> </li> 
       </ul> 
       <div class="enquiry_btn_box btn_box "> 
        <button id="submit_v61aed7e4d2e97" type="submit" class="btn" btn-types="deep"> 
         <div template-edit="btn_languages" module_name="module">
          SEND INQUIRY NOW
         </div> </button> 
       </div> 
      </form> 
     </div> 
    </div> 
   </div> 
  </div> 
  {include file="common/foot" /}