<div modular-edit="custom"> 
	<div class="absolute_box"> 
	 <span video-type="" video-src="" video-m3u8src="" playback_mode=""></span> 
	</div> 
	<div class="text"> 
	 <div class="container"> 
		<div class="text"> 
		 <h1 class="top_title">{cms:channel name="name"}</h1> 
		</div> 
		<div class="top_describe"> 
		{cms:breadcrumb id="item" key="k"}
			{if $k>1} <i>&gt;</i> {/if}<span><a href="{$item.url}" style="display: inline;">{$item.name}</a></span>
		{/cms:breadcrumb}
		</div> 
	 </div> 
	</div> 
	<a target="_self" href="" class="home_banner_vr_btn" btn_show="0"> 
	 <div>
		<span class="iconfont iconVR"></span>
	 </div> 
	 <div class="vr_txt"> 
		<section template-edit="btn_languages" module_name="module">
		 VR
		</section> 
	 </div> </a> 
 </div> 
