<div class="in_ad">
	<div class="bxSlide-outter" style="overflow:hidden;margin-left:auto;margin-right:auto; width:1920px; max-width:100%; max-height:350px">
</div>			<div class="ad_con">
		<div class="con_table">
			<div class="con_table_cell">
			<div class="ueeshop_responsive_position clean ">
<div class="title">{cms:channel name="name"}</div>
<div class="position">
	{cms:breadcrumb id="item" key="k"}
    {if $k>1} &gt; {/if}<a title="{$item.name}" href="{$item.url}">{$item.name}</a>
  {/cms:breadcrumb}
</div>
</div>					</div>
		</div>
	</div>
</div>
